*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

 

  /* positioning of image */
  background-image: url("/images/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

}


.blacky{
  display: flex;
  flex-direction: column;
  width: stretch;
  height: 100%;
  background-color: rgba(0,0,0, 0.7)
}

.header{
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.title{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.space{
  width: 30%;
}

.title >div{
  color: white;
}

.north{
  font-size: 3em;

}

.other{
  font-size: 0.7em;
}

.links{
  height: stretch;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center; 
}

.links >a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.body{
  height:80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.body >input{
  width: 30%;
  height: 10%;
  border-radius: 20px;
  font-size: 1em;
  padding: 5px;

}

.body ::placeholder{
  font-size: 1.1em;
  font-weight: bold;
  background: url(/images/search.svg) no-repeat scroll 1% 1%;
}


input, button:focus{
  outline: none;
}

button{
  width: 8%;
  height: 10%;
  border-radius: 20px;
  background-color: blue;
  color: white;
  font-size: 1em;
  margin-left: 3%;
}